<h2 class="text-center">Tareas para este proyecto</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Tarea 1</h5>
                  <p class="card-text">Hacer lo indicado en la diapositiva de la S20 -> solo se requiere que el interceptor capture el response del servicio a la <a href="https://jsonplaceholder.typicode.com/users" target="_blank">URL</a>  y que se haga "console.log" o También Al dar clic en el botón “Mostrar Usuarios” , la aplicación debe traer los datos del servicio JSON y mostrarlos en una lista.
                  </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Tarea 2</h5>
                  <ul class="card-text">
                    <li>Crea una página en Angular utilizando Bootstrap como biblioteca para el diseño de la siguiente vista.</li>
                    <li>La aplicación debe tener la siguiente funcionabilidad: Si el usuario selecciona la página post, solo se redireccionara si el usuario ha ingresado los campos username y password; caso contrario, permanecerá en la página de login.
                    </li>
                    <li>
                        Si el usuario ha ingresado los campos username y password, la aplicación debe redireccionar a la página post. La página post tendrá la siguiente vista:
                    </li>
                    <li>Si el usuario cierra sesión (logout), la página debe redireccionar a la página del login. Por ningún lado, volverá a ingresar a la página post, sin antes haber ingresado los datos y logearse. Implemente Guards para proteger las rutas.

                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>



