<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 bg-body-secondary py-4">
            <h3>login</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" formControlName="username">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="username">
                  </div>
                  <div class="bm-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>
            </form>
        </div>
    </div>
</div>
