<nav class="navbar navbar-expand-lg bg-info-subtle text-emphasis-info">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Tareas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="1"  [ngClass]="{activado: presionado === '1'}" #t1 (click)="activacion(t1.id)" routerLink="tarea1">Tarea1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="2" [ngClass]="{activado: presionado === '2'}" #t2 (click)="activacion(t2.id)" routerLink="tarea2">Tarea2</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <app-users></app-users>  -->

<router-outlet></router-outlet>